@import url('https://fonts.googleapis.com/css2?family=Varela&family=Titillium+Web&family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Permanent Marker', sans-serif;
  font-weight: 300;
}

html {
  background: url("/img/paper.jpg");
  background-size: cover;
  height: 100vh;
}

.App {
  text-align: center;
  margin: 2em 0 20em 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.lists-container {
  width: 75%;
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.completed-item {
  text-decoration: line-through;
}

.list-lists {
  color: black;
  margin: 10px;
  width: 250px;
  height: 225px;
  background: rgba(random(255),random(255),random(255),.5);
  box-shadow: 5px 5px 5px rgb(29, 48, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  h3 {
    font-family: "Varela";
    font-weight: 600;
    letter-spacing: .05em;
  }

  a {
    color: black;
    text-decoration: none;
  }
  button {
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
    background: rgba(255,255,255,.5);
    padding: 5px 10px 5px 10px;
    font-family: "Permanent Marker";
    font-weight: 500;
  }
}

@for $i from 1 through 1000 {
  .list-lists:nth-child(#{$i}), .item:nth-child(#{$i}) {
    background: rgba(random(255),random(255),random(255),.5);
  }

}


.item-container, .completed-container  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  margin: 2em 5px;

}

.item {
  margin: 10px;
  width: 225px;
  min-height: 225px;
  padding: 10px;
  box-shadow: 5px 5px 5px darkslategrey;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  button {
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
    background: rgba(255,255,255,.5);
    padding: 5px;
    font-family: "Permanent Marker";
    font-weight: 500;
  }

  p {
    font-family: "Varela";
  }
}



@media only screen and (max-width: 550px) {
  .container {
    width: 95%;
  }

  .item-container {
    padding-bottom: 20px;
    border-bottom: 3px solid black;
  }
  .completed-container::before {
    content: "Checked"
  }
}

.logo {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 2.5em;
  text-decoration: none;
  color: black;
}

.app-header {
  width: 250px;
  margin: auto;
  background: rgba(4, 224, 196, 0.5);
  box-shadow: 2px 2px 2px teal;
}

.add-item {
  width: 35px;
}

.list-header, .form-container {
  form {
    padding: 10px;
    input {
      font-size: 1.25em;
      padding: 5px;
      margin: 5px;
      box-shadow: 2px 2px 2px teal;
    }
    input[type=submit] {
      font-size: 1.25em;
      border: none; /*rewriting standard style, it is necessary to be able to change the size*/
      height: 50px;
      width: 100px;
      box-shadow: 2px 2px 2px teal;
      background-color: white;
    }
  }
      button {
        background-color: white;
        font-size: 1.25em;
        box-shadow: 2px 2px 2px teal;
      }
}

.lists-form {
  background: rgba(0,0,0,.3);
  padding: 10px;
  max-width:500px;
  margin: auto;
  box-shadow: 2px 2px 2px teal;
}

.form-title {
  background-color: white;
  font-size: 1.25em;
  box-shadow: 2px 2px 2px teal;
  width: 200px;
  margin: auto;
}

#name {
  width: 335px;
}

.category-name {
  background-color: rgba(255,255,255,.8);
  box-shadow: 2px 2px 2px teal;
  max-width: 200px;
  max-height: 100px;
  margin: auto;

  h3 {
    margin: 0;
    padding: 10px;
  }
}

.item {
  form {
    #name {
      width: 185px;
    }
  }
}

